.swiper {
    width: 100%;
    padding: 20px;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.div1{
    width: 100px;
    background-color: rgb(247, 218, 181);
}

h1{
    justify-content: center;
    margin-left: 700px;
}

form{
    width:30%;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    border: 2px solid #111;
    border-radius: 20px;
    font-size: large;
}

input{
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    font-size: medium;
}

.button1{
    background-color: blue;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: x-large;
    
}